@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/************************ DO NOT remove the Above line  **********************/
/************************ Add USER code BELLOW this line *********************/

/* Location bar */
#urlbar,
.searchbar-textbox {
	-moz-appearance: none !important;
    
	border: 1px solid !important;
	border-top: 1px solid rgb(30,30,30) !important;
	border-left: 1px solid rgb(30,30,30) !important;
	border-right: 1px solid rgb(33,33,33) !important;
	border-bottom: 1px solid rgb(34,34,34) !important;
	border-radius: 3px !important;
	background: #242424 !important;
	box-shadow: 0 1px 3px 0px rgba(0,0,0, 0.12) inset,
				0px 1px 0 	rgba(255,255,255,.09) !important;
	padding: 0px 0 1px 0!important;
}

.searchbar-textbox {
	height: 26px !important;
	
}

#urlbar:hover,
.searchbar-textbox:hover {
  background:  #212121 !important;
  -moz-transition: .30s ease-in-out !important;
}

#urlbar[focused="true"],
.searchbar-textbox[focused="true"],
.searchbar-textbox[focused="true"]:hover {
  border-top: 1px solid rgb(152,152,152) !important;
  border-left: 1px solid rgb(149,149,149) !important;
  border-right: 1px solid rgb(141,141,141) !important;
  border-bottom: 1px solid rgb(138,138,138) !important;
  background:  #8d8d8d !important;
  -moz-transition: .32s ease-in-out !important;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.08),
				0 -1px 0 1px rgba(0,0,0,0.06),
				0  1px 0 1px rgba(0,0,0,0.06)!important;

}

#identity-box {
	-moz-appearance: none !important;
	border-radius: 2px 0px 0px 2px!important;
	min-width:20px!important;
	padding-left:1px!important;
	padding-right:2px!important;
	height:26px!important;
	-moz-transition: .16s ease-in-out !important;
	opacity: .8 !important;
	border-right: 0px solid!important;
	-moz-border-right-colors: rgba(255, 255, 255, 0.09) rgba(0, 0, 0, 0.16) !important;
	
}

#urlbar[focused="true"] #identity-box {

	border-radius: 2px 0px 0px 2px!important;
	-moz-appearance: none !important;
	color: #f8f8f8 !important;
	text-shadow: 1px 1px 0px rgba(0,0,0, 0.06)!important;			
	background: rgba(0,0,0, 0.14) !important;
	border-right: 0px solid!important;
	-moz-border-right-colors: rgba(255, 255, 255, 0.09) rgba(0, 0, 0, 0.16) !important;
	-moz-transition: .16s ease-in-out !important;
}

.searchbar-textbox {
	color: #a5afb6 !important;
}

.searchbar-textbox[focused="true"] {
	color: #121212 !important;
}

.searchbar-textbox:hover {
  	color: #ccd6dd !important;
  	-moz-transition: .5s !important;
}

.searchbar-textbox[focused="true"]:hover {
	color: #0a0a0a !important;
}

.urlbar-textbox-container {
	color:#a5afb6 !important;
}

.urlbar-textbox-container[focused="true"] {
	color: #121212 !important;
}

.urlbar-textbox-container:hover {
	color: #ccd6dd !important;
	-moz-transition: .4s !important;
}

.urlbar-textbox-container[focused="true"]:hover {
	color: #0a0a0a !important;
}

/* *** */
#navigator-toolbox > toolbar:not(:-moz-lwtheme):not(#toolbar-menubar):not(#TabsToolbar) {
  -moz-appearance: none !important;
  background-color:rgb(57,57,57) !important;
}

#nav-bar:not(:-moz-lwtheme),
#nav-bar[collapsed=true] + toolbar:not(:-moz-lwtheme),
#nav-bar[collapsed=true] + #customToolbars + #PersonalToolbar:not(:-moz-lwtheme),
#nav-bar[tabsontop=true],
#nav-bar[tabsontop=true][collapsed=true]:not([customizing]) + toolbar,
#nav-bar[tabsontop=true][collapsed=true]:not([customizing]) + #customToolbars + #PersonalToolbar {
	background:  rgb(57,57,57) !important;
	box-shadow: 0px -1px 0 rgb(72,72,72),
			0 -1px 4px 0 rgba(0,0,0,0.24)!important;
	padding: 2px 0 2px 0 !important;
	border-bottom-color: #ff0000 !important;
}
/*
.tabbrowser-tab {
background-image: -moz-linear-gradient(rgb(62,62,62)1px, rgb(43,43,43) 3px, rgb(38,38,38) 6px, rgb(38,38,38) 18px, rgb(38,38,38)) !important;
}

.tabbrowser-tab:hover {
background-image: -moz-linear-gradient(rgb(58,58,58)1px, rgb(39,39,39) 3px, rgb(34,34,34) 6px, rgb(34,34,34) 18px, rgb(38,38,38)) !important;
}

.tabbrowser-tab[selected="true"] {
background-image: -moz-linear-gradient(rgb(82,82,82)1px, rgb(64,64,64) 3px, rgb(57,57,57) 6px, rgb(57,57,57) 18px, rgb(57,57,57)) !important;
}

.tabbrowser-tab[selected="true"]:hover {
background-image: -moz-linear-gradient(rgb(88,88,88)1px, rgb(70,70,70) 3px, rgb(63,63,63) 6px, rgb(63,63,63) 18px, rgb(57,57,57)) !important;
}*/


#TabsToolbar {
  -moz-appearance: none!important;
  min-height: 27px!important;
  padding: 0!important;
  -moz-padding-start: 2px !important;
  -moz-padding-end: 2px !important;
  
}

#navigator-toolbox[tabsontop=true] > #TabsToolbar {
  margin-bottom: 0px!important;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  -moz-appearance: menubar!important;
  color: -moz-menubartext!important;
}

.tab-stack {
-moz-appearance:none !important;
  min-height: 29px !important;
}

.tabbrowser-tab:not([pinned]) {
  -moz-appearance: none!important;
  margin: 0!important;
  padding: 0!important;
  border: 0 solid transparent!important;
  background: transparent!important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
-moz-appearance:none !important;
  min-width: 54px!important;
  max-width: 194px!important;
}

.tabbrowser-tab[pinned] {
-moz-appearance: none!important;
  border: 0 solid transparent!important;
  background: transparent!important;
}

.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
-moz-appearance:none !important;
  -moz-padding-start: 0px!important;
  -moz-padding-end: 18px!important;
}

.tab-content {
-moz-appearance:none !important;
  border: solid transparent!important;
  border-width: 5px 22px 3px 22px !important;
  -moz-margin-start: 0!important;
  -moz-margin-end: -22px!important;
}

.tabbrowser-tab > .tab-stack > .tab-content:not([selected="true"]) {
-moz-appearance:none !important;
  -moz-border-image: url("images/tabbrowser/tab.png") 5 22 3 22 fill repeat stretch!important;
  margin-bottom: 1px !important;
}

.tabbrowser-tab:last-of-type > .tab-stack > .tab-content:not([selected="true"]){
-moz-appearance:none !important;
  -moz-border-image: url("images/tabbrowser/tab.png") 5 22 3 22 fill repeat stretch!important;
    margin-bottom: 1px !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-content:not([selected="true"]) {
-moz-appearance:none !important;
  -moz-border-image: url("images/tabbrowser/tab-hover.png") 5 22 3 22 fill repeat stretch!important;
    margin-bottom: 1px !important;
}



.tabbrowser-tab > .tab-stack > .tab-content[selected="true"] {
-moz-appearance:none !important;
  -moz-border-image: url("images/tabbrowser/tab-active.png") 5 22 3 22 fill repeat stretch!important;
   margin-bottom: 0px !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-content[selected="true"] {
-moz-appearance:none !important;
  -moz-border-image: url("images/tabbrowser/tab-active-hover.png") 5 22 3 22 fill repeat stretch!important;
    margin-bottom: 0px !important;
}

.tab-text:not([selected="true"]):not(:-moz-lwtheme) {
-moz-appearance:none !important;
  color: #acacac!important;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.12)!important;
}

.tabbrowser-tab .tab-text:not([selected="true"]):not(:-moz-lwtheme):hover {
-moz-appearance:none !important;
  color: #cdcdcd!important;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.16)!important;
}

.tabbrowser-tab .tab-text[selected="true"]:not(:-moz-lwtheme) {
-moz-appearance:none !important;
  color: #f2f2f2!important;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.12)!important;
}

.tabbrowser-tab .tab-text[selected="true"]:not(:-moz-lwtheme):hover {
-moz-appearance:none !important;
  color: #fff!important;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.16)!important;
}

/* preloading hack */
#tabbrowser-tabs::after {
-moz-appearance:none !important;
  content: ''!important;
  display: block!important;
  background-image:
    url(images/tabbrowser/tab.png),
    url(images/tabbrowser/tab-hover.png),
    url(images/tabbrowser/tab-active.png),
    url(images/tabbrowser/tab-active-hover.png)!important;
    
}

#tabbrowser-tabs {
margin-left: -23px !important;
}

.tabbrowser-tab[selected="true"] > .tab-stack {
-moz-appearance:none !important;
  z-index: 1!important;
  position: relative!important;
}

/* Prevent overlapping of tabs during the close animation */
.tab-label:not([fadein]):not([pinned]) {
-moz-appearance:none !important;
  margin-left: -22px!important;
  margin-right: -22px!important;
  transition: opacity 100ms ease-out,
                   margin 30ms ease-out 80ms!important;
                   
}

.tabbrowser-tab:-moz-lwtheme {
-moz-appearance:none !important;
  color: inherit!important;
  text-shadow: inherit!important;
}

.tabbrowser-tab .tab-text {
-moz-appearance:none !important;
  margin-top: 0 !important;
}

/* *** */
.tabs-newtab-button {
  -moz-appearance:none !important; 
  border: solid transparent!important;
  -moz-margin-start: 18px !important;
  padding: 0 !important;
  background: transparent!important;
}
/*
.tabs-newtab-button {
  -moz-appearance:none !important; 
  border: solid transparent!important;
  -moz-margin-start: 20px !important;
  padding: 0 !important;
  background: transparent!important;
  list-style-image: url(images/titlebar-button-reworked-b.svg)!important;
  -moz-image-region: rect(0px, 24px, 24px, 0px)!important;
}

.tabs-newtab-button:hover {
-moz-appearance:none !important;
  list-style-image: url(images/titlebar-button-reworked-c.svg)!important;
  -moz-image-region: rect(0px, 24px, 24px, 0px)!important;
}

.tabs-newtab-button:hover:active {
-moz-appearance:none !important;
  list-style-image: url(images/titlebar-button-reworked.svg)!important;
  -moz-image-region: rect(0px, 24px, 24px, 0px)!important;
}

.tabs-newtab-button:-moz-locale-dir(rtl) {
-moz-appearance:none !important;
  transform: scaleX(-1)!important;
  margin-top: 1px!important;
}*/

.tabs-newtab-button > .toolbarbutton-icon {
-moz-appearance:none !important;
  margin-top: 1px!imprtant;
}

.tabs-newtab-button {
  -moz-appearance:none !important; 
  border: 0 !important;
  -moz-margin-start: 16px !important;
  padding: 0 !important;
  background: transparent!important;
  list-style-image: url(images/tab_new.png)!important;
  -moz-image-region: rect(0px, 34px, 18px, 0px)!important;
}

.tabs-newtab-button:hover {
-moz-appearance:none !important;
  -moz-image-region: rect(0px, 68px, 18px, 34px)!important;
}

.tabs-newtab-button:hover:active {
-moz-appearance:none !important;
  -moz-image-region: rect(0px, 102px, 18px, 68px)!important;
}

.tabs-newtab-button:-moz-locale-dir(rtl) {
-moz-appearance:none !important;
  transform: scaleX(-1)!important;
  margin-top: 1px!important;
}










/* *** */

.tab-close-button {
-moz-appearance: none !important;
  -moz-image-region: rect(0, 16px, 16px, 0)!important;
  border: none!important;
  padding: 0px!important;
  list-style-image: url("images/close.png")!important;
}

.tab-close-button:hover,
.tab-close-button:hover[selected="true"] {
  -moz-image-region: rect(0, 32px, 16px, 16px)!important;
}

.tab-close-button[selected="true"],
.tab-close-button:hover:active,
.tab-close-button:hover:active[selected="true"] {
  -moz-image-region: rect(0, 48px, 16px, 32px);
    margin-top: -1px;
}

.tab-close-button:focus {
  outline: none !important;
}

/* tabbrowser-tab focus ring */
.tabbrowser-tab:focus > .tab-stack {
-moz-appearance:none !important;
  outline: 1px dotted!important;
}

/* ::::: primary toolbar buttons ::::: */

.toolbarbutton-1 {
  -moz-appearance: none!important;
  padding: 1px 3px!important;
  background-clip: padding-box!important;
  border-radius: 3px!important;
  color: #acacac !important;
  text-shadow: 0 -1px rgba(0,0,0, 0.16) !important;
  border: 1px solid transparent!important;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none!important;
  padding: 0px 4px !important;
  background-clip: padding-box!important;
  border-radius: 3px!important;
  color: #acacac !important;
  text-shadow: 0 -1px rgba(0,0,0, 0.16) !important;
}
.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(rtl),
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(rtl) {
  border-left: 1px solid #373737!important;
  border-right: 1px solid transparent !important;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:hover,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:hover {
background: -moz-linear-gradient(rgb(79,79,79), rgb(79,79,79) 49%, rgb(75,75,75) 50%, rgb(75,75,75)) !important;
  border-color: #373737 #353535 !important;
  box-shadow: 0 1px rgba(255,255,255, 0.02) inset,
				0 2px rgba(255,255,255, 0.01) inset,
				0 3px rgba(255,255,255, 0.005) inset,
				1px 0 rgba(255,255,255, 0.02) inset,
				-1px 0 rgba(255,255,255, 0.02) inset,
				0 1px 0 rgb(48,48,48) !important;
  transition: background-color .1s ease-in,
                   border-color .2s ease-in,
                   box-shadow .3s ease-in!important;
  color: #cbcbcb!important;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:active,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:active {
  background: -moz-linear-gradient(rgb(77,77,77), rgb(77,77,77) 49%, rgb(77,77,77) 50%, rgb(77,77,77)) !important;
  border-color: #353535 #383838 !important;            
  box-shadow:  	0px 1px 0 #303030 inset,
				0px 1px 3px rgba(0, 0, 0, 0.16) inset,
				1px 1px 0px rgba(255, 255, 255, 0.06)!important;
  text-shadow: none!important;
  color: #f2f2f2 !important;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
toolbar[iconsize="small"][mode="icons"] .toolbarbutton-1 > .toolbarbutton-menubutton-button,
toolbar[iconsize="small"][mode="icons"] .toolbarbutton-1 {
  padding-left: 3px!important;
  padding-right: 3px!important;
  background: none!important;
  box-shadow: none!important;
  border: 0px!important;
}



.toolbarbutton-1[type="menu-button"] {
  -moz-appearance: none!important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.12) 49%,
									rgba(255, 255, 255, 0.094) 51%,	rgba(255, 255, 255, 0.05) 110%)!important;
  background-color: rgb(12,12,12)!important;
  border: 1px solid #000000!important;
  box-shadow:  0px 1px 1px rgba(255, 255, 255, 0.18) inset, 0pt 1px 0pt rgba(255, 255, 255, 0.1)!important;
}

.toolbarbutton-1[type="menu-button"]:-moz-locale-dir(rtl) dropmarker{
  border: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 0px !important;
}

.toolbarbutton-1 {
  margin: 1px 3px!important;
}

toolbar[iconsize="small"][mode="icons"] .toolbarbutton-1 {
  margin-left: 2px!important;
  margin-right: 2px!important;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  -moz-border-start-style: none!important;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(ltr),
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(rtl) {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(rtl),
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(ltr) {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.toolbarbutton-1[disabled="true"] {
  opacity: 1!important;
  color: #4d4d4d!important;
}

.toolbarbutton-1[disabled="true"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.toolbarbutton-1[disabled="true"] > .toolbarbutton-icon {
  opacity: .5!important;
}

tabbox:not(.spinbuttons-button) button:not(.spinbuttons-button),
tabpanels:not(.spinbuttons-button) button:not(.spinbuttons-button),
tabbox:not(.spinbuttons-button) menulist:not(.spinbuttons-button),
tabpanels:not(.spinbuttons-button) menulist:not(.spinbuttons-button) {
  -moz-appearance: none !important;  
  padding: 4px 5px !important;
  border: 1px solid !important;
  border-top-color: #373737 !important; 
  border-left-color: #373737 !important; 
  border-right-color: #353535 !important; 
  border-bottom-color: #353535 !important;
  background: -moz-linear-gradient(rgb(87,87,87), rgb(87,87,87) 49%, rgb(83,83,83) 50%, rgb(83,83,83)) !important;
  border-radius: 3px !important;
  box-shadow: 0 1px rgba(255,255,255, 0.02) inset,
				0 2px rgba(255,255,255, 0.01) inset,
				0 3px rgba(255,255,255, 0.005) inset,
				1px 0 rgba(255,255,255, 0.03) inset,
				-1px 0 rgba(0,0,0, 0.06) inset,
				0 -1px rgba(255,255,255, 0.01) inset,
				0 1px #303030 !important;
	color: #acacac !important;
	text-shadow: 0 -1px rgba(0,0,0, 0.16) !important;
}

tabbox:not(.spinbuttons-button) button:not(.spinbuttons-button):not(:active):hover,
tabpanels:not(.spinbuttons-button) button:not(.spinbuttons-button):not(:active):hover,
tabbox:not(.spinbuttons-button) menulist:not(.spinbuttons-button):not(:active):hover,
tabpanels:not(.spinbuttons-button) menulist:not(.spinbuttons-button):not(:active):hover,
.toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):not(:active):hover,
.toolbarbutton-1:not([open="true"]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
  background: -moz-linear-gradient(rgb(79,79,79), rgb(79,79,79) 49%, rgb(75,75,75) 50%, rgb(75,75,75)) !important;
  border-color: #373737 #353535 !important;
  box-shadow: 0 1px rgba(255,255,255, 0.02) inset,
				0 2px rgba(255,255,255, 0.01) inset,
				0 3px rgba(255,255,255, 0.005) inset,
				1px 0 rgba(255,255,255, 0.02) inset,
				-1px 0 rgba(255,255,255, 0.02) inset,
				0 1px 0 rgb(48,48,48) !important;
  transition: background-color .1s ease-in,
                   border-color .2s ease-in,
                   box-shadow .3s ease-in!important;
  color: #cbcbcb!important;
}

tabbox:not(.spinbuttons-button) button:not(.spinbuttons-button):focus,
tabpanels:not(.spinbuttons-button) button:not(.spinbuttons-button):focus,
tabbox:not(.spinbuttons-button) button:not(.spinbuttons-button):hover:active,
tabpanels:not(.spinbuttons-button) button:not(.spinbuttons-button):hover:active,
tabbox:not(.spinbuttons-button) menulist:not(.spinbuttons-button):focus,
tabpanels:not(.spinbuttons-button) menulist:not(.spinbuttons-button):focus,
tabbox:not(.spinbuttons-button) menulist:not(.spinbuttons-button):hover:active,
tabpanels:not(.spinbuttons-button) menulist:not(.spinbuttons-button):hover:active,
tabbox:not(.spinbuttons-button) button[open="true"]:not(.spinbuttons-button),
tabpanels:not(.spinbuttons-button) button[open="true"]:not(.spinbuttons-button),
tabbox:not(.spinbuttons-button) button[checked="true"]:not(.spinbuttons-button),
tabpanels:not(.spinbuttons-button) button[checked="true"]:not(.spinbuttons-button),
.toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.toolbarbutton-1:hover:active > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker,
.toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):hover:active,
.toolbarbutton-1:not([type="menu-button"])[checked="true"],
.toolbarbutton-1[open="true"] {
  background: -moz-linear-gradient(rgb(77,77,77), rgb(77,77,77) 49%, rgb(77,77,77) 50%, rgb(77,77,77)) !important;
  border-color: #353535 #383838 !important;            
  box-shadow:  	0px 1px 0 #303030 inset,
				0px 1px 3px rgba(0, 0, 0, 0.16) inset,
				1px 1px 0px rgba(255, 255, 255, 0.06)!important;
  text-shadow: none!important;
  color: #f2f2f2 !important;
}

.toolbarbutton-1[checked="true"]:not(:active):hover {
  background-color: rgba(90%,90%,90%,.4)!important;
  transition: background-color .2s!important;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
.toolbarbutton-1 > .toolbarbutton-icon {
  -moz-margin-end: 0!important;
  width: 16px!important;
  height: 16px!important;
}

toolbar[iconsize="small"] .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
toolbar[iconsize="small"] .toolbarbutton-1 > .toolbarbutton-icon {
  margin: 1px!important;
  width: 16px!important;
  height: 16px!important;
}

/* Default icons have a built-in glow, so they are 18*18px even in small mode,
   except for the large back icon, which is why the code below uses 'auto' rather
   than 18px. This will pick the correct size based on the image region. */
:-moz-any(#back-button, #forward-button, #reload-button, #stop-button, #home-button, #print-button, #downloads-button, #history-button, #bookmarks-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #cut-button, #copy-button, #paste-button, #fullscreen-button, #zoom-out-button, #zoom-in-button, #sync-button, #feed-button, #alltabs-button, #tabview-button) > .toolbarbutton-icon {
  margin: 0px !important;
  width: auto !important;
  height: auto !important;
}

toolbar[mode="full"] .toolbarbutton-1,
toolbar[mode="full"] .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  min-width: 57px!important;
}

#nav-bar {
  /* force iconsize="small" on this toolbar */
  counter-reset: smallicons!important;
}

toolbarbutton.bookmark-item {
	-moz-appearance: none !important;
    color: #cdcdcd !important;
    font-size: .86em !important;
    font-weight: bold !important;
	background: transparent !important;
	border:0 1px 0 1px solid transparent !important;
	box-shadow: none !important;
	color: #9d9d9d !important;
	text-shadow: 0 1px 3px rgba(0,0,0, 0.65) !important;
}

toolbarbutton.bookmark-item:hover {
	text-decoration: underline !important;
	color: #cdcdcd !important;
	text-shadow: 0 1px 2px rgba(0,0,0, 0.65) !important;
	transition: color .28s ease-in,
                text-decoration .16s ease-in !important;
}

toolbarbutton.bookmark-item:hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"] {
  color: #f2f2f2 !important;
  background: rgba(0,0,0, 0.06) !important;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.65) !important;
  border-left: 1px solid rgba(0,0,0, 0.08) !important;
  border-right: 1px solid rgba(255,255,255, 0.04) !important;
  box-shadow: 1px 0 0px rgba(0,0,0, 0.04) inset !important;
}

dropmarker {
  -moz-appearance: none!important;
  width: 16px!important;
  height: 16px!important;
  -moz-box-align: center!important;
  -moz-box-pack: center!important;
  background-color: transparent!important;
  border-radius: 0px 2px 2px 0px!important;
  padding: 1px!important;
  list-style-image: url("images/arrow-down.gif")!important;
  -moz-image-region: auto!important;
}

dropmarker:hover:active:not([disabled="true"]) {
  padding-top: 2px!important;
  padding-bottom: 0px!important;
  -moz-padding-start: 2px!important;
  -moz-padding-end: 0px!important;
}

dropmarker[disabled="true"] {
  list-style-image: url("images/arrow-down-dis.gif")!important;
}

/* *** */
textbox,
textarea,
input,
.menulist-editable-box {
  -moz-appearance: none !important;
	border: 1px solid !important;
	border-top: 1px solid rgb(30,30,30) !important;
	border-left: 1px solid rgb(30,30,30) !important;
	border-right: 1px solid rgb(33,33,33) !important;
	border-bottom: 1px solid rgb(34,34,34) !important;
	border-radius: 3px !important;
	background: #242424 !important;
	box-shadow: 0 1px 3px 0px rgba(0,0,0, 0.12) inset,
				0px 1px 0 	rgba(255,255,255,.09) !important;
	color: #a5afb6 !important;
}

textbox:not([disabled]):hover,
textarea:not([disabled]):hover,
input:not([disabled]):hover,
.menulist-editable-box:not([disabled]):hover {
  background:  #242424 !important;
}

textbox[focused="true"],
textarea[focused="true"],
input[focused="true"],
.menulist-editable-box[focused="true"],
textbox[focused="true"]:hover,
textarea[focused="true"]:hover,
input[focused="true"]:hover,
.menulist-editable-box[focused="true"]:hover {
  border-top: 1px solid rgb(152,152,152) !important;
  border-left: 1px solid rgb(149,149,149) !important;
  border-right: 1px solid rgb(141,141,141) !important;
  border-bottom: 1px solid rgb(138,138,138) !important;
  background:  #8d8d8d !important;
  -moz-transition: .32s ease-in-out !important;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.08),
				0 -1px 0 1px rgba(0,0,0,0.06),
				0  1px 0 1px rgba(0,0,0,0.06)!important;
	color: #0a0a0a !important;			
}

textbox[disabled="true"],
textarea[disabled="true"],
input[disabled="true"],
.menulist-editable-box[disabled="true"] {
  background: url("images/insensitive.png")!important;
    background-repeat: repeat!important;
}

spinbuttons {
  -moz-appearance: none !important;
  cursor: default !important;
}

.spinbuttons-button {
  min-width: 13px !important;
  min-height: 11px!important;
  margin: 0 !important;
  box-shadow: none !important;
}

.numberbox-input-box,
.spinnbuttons-box,
.spinbuttons-button {
  -moz-appearance: none !important;
  background: transparent !important;
  border: none !important;
}

.spinbuttons-button > .button-box {
  border: 0 !important;
}

.spinbuttons-button {
  border-left: 2px solid !important;
  -moz-border-left-colors:    rgba(0, 0, 0, 0.32) rgba(255, 255, 255, 0.04)!important;
  } 

.spinbuttons-up {
  -moz-appearance: none !important;
  background-image: url("images/arrow-up.gif") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
    background-color: transparent !important;
}

.spinbuttons-up:not([disabled]):hover,
.spinbuttons-up:not([disabled]):active:hover {
  background-image: url("images/arrow-up-hov.gif") !important;
}

textbox[focused="true"] .spinbuttons-up {
  background-image: url("images/arrow-up-focused.gif") !important;
}

.spinbuttons-up[disabled="true"] {
  background-image: url("images/arrow-up-dis.gif") !important;
}

.spinbuttons-down {
  -moz-appearance: none !important;
  background-image: url("images/arrow-down.gif") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
    background-color: transparent !important;
}

textbox[focused="true"] .spinbuttons-down {
  background-image: url("images/arrow-down-focused.gif") !important;
}

.spinbuttons-down:not([disabled]):hover,
.spinbuttons-down:not([disabled]):active:hover {
  background-image: url("images/arrow-down-hov.gif") !important;
}

.spinbuttons-down[disabled="true"] {
  background-image: url("images/arrow-down-dis.gif") !important;
}

/*************************** Tree Columns *****************************/
tree {
  -moz-appearance: none !important;
  color: #cbcbcb !important;
  background-color: rgb(57,57,57) !important; 
  }
  
treechildren:not(.autocomplete-treebody)::-moz-tree-row {
  -moz-appearance: none !important;
  background-color: rgb(57,57,57) !important;
  border: 0 0 1px 0 solid !important;
  border-bottom-color: rgba(2,32,55, 0.07) !important;
}
   
treechildren::-moz-tree-row {
  border: 1px solid transparent !important;
  min-height: 20px !important;
  height: 1.5em !important;				
}  
treechildren:not(.autocomplete-treebody)::-moz-tree-row(multicol, even),
treechildren:not(.autocomplete-treebody)::-moz-tree-row(multicol, odd) {
  -moz-appearance: none !important;
  background-color: transparent !important;
}

treechildren:not(.autocomplete-treebody)::-moz-tree-row(multicol, even) {
  -moz-appearance: none !important;
  background-color: rgb(55,55,55) !important;
}

treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected) {
  background: #2a2a2a !important;
  border-bottom: 1px solid rgba(0,0,0,.16)!important;
  box-shadow: 0 1px 0 rgba(255,255,255, 0.034) inset !important;
}

treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover) {
  background: -moz-linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.1) ) !important;
}

treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected, hover) {
  background: #282828 !important;
  border-bottom: 1px solid rgba(0,0,0,.16)!important;
  box-shadow: 0 1px 0 rgba(255,255,255, 0.034) inset !important;
}

treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected, focus){
  background: rgb(14,94,154) !important;  
  border-bottom: 1px solid rgba(0,0,0,.22)!important;
  box-shadow: 0 1px 0 rgba(255,255,255, 0.05) inset !important;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus),
tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected, focus),
treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected, focus, hover) {
  background: rgb(7,107,182) !important;
}

treechildren::-moz-tree-cell {
  padding: 0px 2px 1px 2px !important; 
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected) ,
tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected) {
  background: rgb(6,90,153) !important;
} 

tree[seltype="cell"] > treechildren::-moz-tree-cell-text,
tree[seltype="text"] > treechildren::-moz-tree-cell-text,
treechildren::-moz-tree-cell-text {
  color: #acacac !important;
}

treechildren::-moz-tree-cell-text(hover) {
  color: #cdcdcd !important;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected) ,
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected) {
  color: #dfdfdf!important;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus),
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected, focus),
treechildren::-moz-tree-cell-text(selected, focus),
treechildren::-moz-tree-cell-text(hover, selected, focus) {
  color: #f2f2f2 !important;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, current, focus) {
  border: 1px dotted #bbbbbb!important;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, current, focus) {
  border: 1px dotted #bbbbbb!important;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected, current, focus) {
  border: 1px dotted #ebebeb!important;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, current, focus) {
  border: 1px dotted #ebebeb!important;
}

tree[seltype="cell"] > treechildren::-moz-tree-line,
tree[seltype="text"] > treechildren::-moz-tree-line,
treechildren::-moz-tree-line {
  border: 1px dotted #2a79cb !important; 
}

tree[seltype="cell"] > treechildren::-moz-tree-line(active, selected, focus),
treechildren::-moz-tree-line(selected, focus) {
  border: 1px dotted #f2f2f2 !important;
}

/* ::::: twisty :::::  */
treechildren::-moz-tree-indentation {
  width: 18px;
}

#attachmentToggle {
  /* Override button appearance */
  -moz-appearance: none!important;
  min-width: 0!important;
  margin-left: 4px!important;
  border: 1px solid transparent !important;
  background: none!important;
  box-shadow:none!important;
}

/************/
treecol,
treecolpicker {
  -moz-appearance: none!important;
  -moz-box-align: center!important;
  -moz-box-pack: center!important;
border: 1px solid #393939!important;
  border-top-color: 1px #393939!important;
  border-left: 1px solid rgb(54,54,54) !important;

  border-bottom: 1px solid rgb(49,49,49)!important;
  border-right: 1px solid rgba(255,255,255,0.0)!important;


  background: -moz-linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.09)), -moz-linear-gradient(rgb(57,57,57), rgb(52,52,52)) !important;

  color: #787878!important;
  text-shadow: 0 1px 0px rgba(0,0,0, 0.2) !important;
  padding: 0px 2px!important;
  font-weight: bold!important;
  font-size: .83em !important;
   box-shadow: 1px 0 0 rgba(255,255,255, 0.04) inset !important;                          
}

treecol:first-of-type,
treecolpicker:first-of-type {
  border-left-color: #393939 !important;
  box-shadow: none !important;
}

treecol:last-of-type,
treecolpicker:last-of-type {
}

treecol:hover,
treecolpicker:hover {
  color: #acacac!important;
  text-shadow: none !important;
  -moz-transition: color .3s ease-in !important;
}

treecol:hover:active,
treecolpicker:hover:active {
  background: -moz-linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.06)), -moz-linear-gradient(rgb(49,49,49), rgb(49,49,49)) !important;
  color: #acacac!important;
  -moz-transition: .2s ease-in !important;
  box-shadow: 1px 0 0 rgba(0,0,0, 0.14) inset !important;
  }

/****************************   Headers  *****************************/
/* Headers  */
dialogheader {
    border: 1px solid rgba(0,0,0,0.0) !important;
    opacity: .2px !important;
}

.dialogheader-title {
  color: #f2f2f2 !important;
  font-weight: bold !important;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.47) !important;
}

caption {
  color: #9d9d9d !important;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.67) !important; 
  } 
  
notification {
  background:  -moz-linear-gradient(rgb(68,68,68), rgb(68,68,68));
  }
  
.im-placeholder-screen {
  background: url("images/WindowBg-dark.png") repeat!important; 
  }   

/** Other odds and ends  **/
#smtpServerInfoBox,
#smtpServerInfoBox column:first-of-type {
  color: #121212 !important;
  }

#smtpServerInfoBox columns {
  background: transparent !important;
  color: #121212 !important;
  }

tooltip {
	-moz-appearance: none!important;
	 border: none !important;
	 background: rgba(255,214,2,0.85) !important;
	 color: #121212 !important;
	 border-radius: 2px !important;
	 padding: 4px !important;
}

#TabsToolbar #appmenu-toolbar-button  {
	-moz-appearance: none!important;
	background: url("images/appmenu.svg")!important;
	background-repeat: no-repeat !important;
	background-position:  center!important;
	margin: 0!important;
	min-width: 75px!important;
	min-height: 18px!important;
	-moz-border-image: none !important;
	border: none!important;
	font-weight: bold!important;
	font-size: x-small;
	color: #ffffff;
    padding: 0 1.5em .05em!important;
	margin-top: -1px!important;
	margin-left: 0px!important;
	margin-right: 12px!important;
}

#appmenu-toolbar-button:-moz-window-inactive {
	opacity: 0.4 !important;
}

#TabsToolbar #appmenu-toolbar-button:hover {
	-moz-appearance: none!important;
	background-image: url("images/appmenu-hover.svg")!important;
}

#TabsToolbar #appmenu-toolbar-button:active:hover,
#TabsToolbar #appmenu-toolbar-button:active,
#TabsToolbar #appmenu-toolbar-button[open="true"] {
	-moz-appearance: none!important;
	background-image: url("images/appmenu-pressed.svg")!important;
}
