


/***************************** Add-ons Manager ********************************/
#addons-page {
  -moz-appearance: none!important;
  background:  #393939!important;
  color: WindowText!important;
}
 
#view-port-container {
  /* Needed to allow the radius to clip the inner content, see bug 595656 */
  -moz-appearance: none !important;
  -moz-appearance: none !important;
  overflow: hidden!important;
  background: #1a1a1a !important;
  width:500px !important;
  height:500px !important;
  color: #ababab !important;
  border: 0 solid !important;
  border-radius: 0px !important;
  border-left: 0px solid !important;
  -moz-border-left-colors:    rgba(255, 255, 255, 0.04)  rgba(0, 0, 0, 0.32)!important;
}

#categories {
  background: #393939 !important;
}

.category,
#categories richlistitem {
  -moz-appearance: none !important;
  background: transparent !important;
  padding: 10px 4px  !important;
  -moz-box-align: center  !important;
  overflow: hidden  !important;
  border-radius: 0px !important;
  border: 1px solid transparent !important;
  }

.category[selected],
#categories richlistitem[selected="true"] {
  background: #545454 !important;
  border: 1px solid #525252!important;
  border-right: none !important;
  color: #f2f2f2 !important;
}

#categories richlistitem{
  color: #ababab !important;
}

#categories richlistitem:hover{
  color: #cdcdcd !important;
}

#categories richlistitem[selected="true"]:hover {
	background: #565656 !important;
  color: #f2f2f2 !important;
}

/*this makes the selected addon to installs main page legable within dark theme*/
#discover-browser {
  background: rgb(190,190,190) !important;
  text-shadow: none !important;
}

#header-search {
	-moz-appearance: none !important;
	border-radius: 3px !important;
    border-top: 1px solid rgb(152,152,152) !important;
  border-left: 1px solid rgb(149,149,149) !important;
  border-right: 1px solid rgb(141,141,141) !important;
  border-bottom: 1px solid rgb(138,138,138) !important;
  background:  #8d8d8d !important;
    /*box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.08),
				0 -1px 0 1px rgba(0,0,0,0.06),
				0  1px 0 1px rgba(0,0,0,0.06)!important;*/
	box-shadow: none !important;			
	  padding: 3px !important;
  margin: 0px !important;
  margin-bottom: 1px !important;			
}

#header-search input {
    -moz-appearance: none !important;
    background:  #8d8d8d !important;
    color: #121212 !important;
}

#header-search textarea {
    -moz-appearance: none !important;
    background:  #8d8d8d !important;
    color: #121212 !important;
}

.view-header {
  background: -moz-linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.09)), -moz-linear-gradient(rgb(57,57,57), rgb(52,52,52)) !important;
  border-top: 0px solid rgba(9,9,9,0.55) !important;
  border-bottom: 1px solid rgb(49,49,49) !important;
  padding: 4px !important;
  margin: 0 !important;
  min-height: 31px !important;
}

#search-filter {
  padding: 5px 20px !important;
  font-size: 120% !important;
  background: #393939 !important;
  overflow-x: hidden !important;
}

.addon {
  color: #4d4d45 !important;
  border:  0 solid !important;
  border-bottom: 1px solid #222222 !important;
  box-shadow: none!important;
}

.addon:first-of-type {
  border-top: none !important;
}

.addon:hover,
.addon[active="false"]:hover {
  background: #232323!important;
}

.addon[selected] {
  background: #303030!important;
  color: #8d8d8d !important;
  -moz-transition: opacity .2s ease-in;
}

.addon[selected]:hover {
  color: #8d8d8d !important;
  background: #303030!important;
  -moz-transition: opacity 120ms ease-in;
}

.addon-view[active="false"],
.addon-view[active="false"]:hover {
  background: url("images/insensitive.png")!important;
    background-repeat: repeat!important;
    box-shadow: none!important;
}

.addon-view[active="false"][selected],
.addon-view[active="false"][selected]:hover {
  background: url("images/insensitive.png"), #303030!important;
    background-repeat: repeat!important;
}

.addon .name-container{
  color: #ababab !important;
}

.addon:hover .name-container{
  color: #cdcdcd !important;
}

.addon[selected] .name-container,
.addon[selected="true"] .name-container{
  color: #f2f2f2 !important;
}

.addon[selected="true"]:hover .name-container{
  color: #ffffff !important;
}

.creator {
  font-weight: lighter !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.42) !important;
}

.addon[selected] .text-link,
.addon[selected] .button-link,
.creator .text-link {
  color: #006CB7 !important;
}

.addon-view[active="false"],
.addon-view[active="false"]:hover {
  color: #3d3d36 !important;
}

.addon-view[active="false"] .name-container,
.addon-view[active="false"] .name-container:hover {
  color: #5d5d58 !important;
}

.addon-view[active="false"][selected],
.addon-view[active="false"][selected]:hover {
  color: #5d5d58 !important;
}

.addon-view[active="false"][selected] .name-container {
  color: #656565 !important;
}

.addon-view[active="false"][selected]:hover .name-container {
  color: #676767 !important;
}

.warning,
.pending,
.error {
  -moz-margin-start: 48px !important;
  font-weight: bold !important;
  -moz-box-align: center !important;
}

.addon-view .warning {
  color: #F47D43 !important;
}

.addon-view .error {
  color: #940109 !important;
}

.addon-view .pending {
  color:#F4E0C8 !important;
}

.addon-view[pending="disable"] .pending,
.addon-view[pending="uninstall"] .pending {
  color: #7DB6D3 !important;
}

.header-button {
  -moz-appearance: none !important;
  margin: 0px 5px !important;
  min-width: 6.3em !important;   
  padding: 4px 0 !important; 
  border-top: 1px solid #393939 !important; 
  border-left: 1px solid #393939 !important; 
  border-right: 1px solid #363636 !important; 
  border-bottom: 1px solid #363636 !important;
  background-image: -moz-linear-gradient(rgb(87,87,87), rgb(87,87,87) 49%, rgb(83,83,83) 50%, rgb(83,83,83)) !important;
  border-radius: 3px !important;
  box-shadow: 0 1px rgba(255,255,255, 0.02) inset,
				0 2px rgba(255,255,255, 0.02) inset,
				0 3px rgba(255,255,255, 0.01) inset,
				1px 0 rgba(255,255,255, 0.03) inset,
				-1px 0 rgba(0,0,0, 0.08) inset,
				0 -1px rgba(255,255,255, 0.02) inset,
				0 1px #303030 !important;
}

#header-utils-btn {
	border-color: rgba(0,0,0, 0.0) !important;
	background: rgba(0,0,0, 0.0) !important;
	box-shadow: none !important;
}

.header-button[disabled="true"] {
  color: #3d3d36 !important;
  background: rgb(87,87,87)!important;
  border: 1px solid #343434 !important;
  box-shadow: 0 1px rgba(255,255,255, 0.02) inset,
				0 2px rgba(255,255,255, 0.01) inset,
				1px 0 rgba(255,255,255, 0.03) inset,
				-1px 0 rgba(255,255,255, 0.02) inset,
				0 -1px rgba(255,255,255, 0.03) inset,
				0 1px #303030 !important;
  }
  
.header-button:not([open="true"]):not([disabled="true"]):not(:active):hover {
  background-image: -moz-linear-gradient(rgb(89,89,89), rgb(89,89,89) 49%, rgb(85,85,85) 50%, rgb(85,85,85)) !important;   
  box-shadow: 0 1px rgba(255,255,255, 0.05) inset,
				0 2px rgba(255,255,255, 0.02) inset,
				0 3px rgba(255,255,255, 0.01) inset,
				1px 0 rgba(255,255,255, 0.03) inset,
				-1px 0 rgba(255,255,255, 0.02) inset,
				0 -1px rgba(255,255,255, 0.02) inset,
				0 1px #303030 !important;
  color: #262626 !important;
} 

.header-button:not([open="true"]):not([disabled="true"]):hover:active,
.header-button:not([open="true"]):not([disabled="true"]):active,
.header-button[checked="true"]:not([disabled="true"]),
.header-button[open="true"]:not([disabled="true"]) {
  background: rgb(78,78,78)!important; 
  border-top: 1px solid #363636 !important; 
  border-left: 1px solid #363636 !important; 
  border-right: 1px solid #393939 !important; 
  border-bottom: 1px solid #393939 !important;				
  box-shadow:   0 1px #303030 inset,
				0 2px rgba(0,0,0, 0.08) inset,
				0 3px rgba(0,0,0, 0.04) inset,
				0 4px rgba(0,0,0, 0.02) inset,
				-1px 0 rgba(0,0,0, 0.02) inset,
				-2px 0 rgba(0,0,0, 0.01) inset,
				1px 0 rgba(0,0,0, 0.04) inset,
				2px 0 rgba(0,0,0, 0.02) inset,
				3px 0 rgba(0,0,0, 0.01) inset,
				0 1px rgba(255,255,255, 0.07) !important;
  color: #f2f2f2 !important;
}

#header-utils-btn:not([open="true"]):hover:active,
#header-utils-btn:not([open="true"]):active,
#header-utils-btn[open="true"] {
	border-radius: 3px 3px 0 0 !important;
	
	border-color: 1px solid rgb(26,26,26) !important;
	background: #1e1e1e !important;
	box-shadow:  1px  0px rgba(255,255,255, 0.025) inset,
				 0px  1px rgba(255,255,255, 0.03) inset,
				-1px  0px rgba(0,0,0, 0.06) inset !important;
}

.addon-control {
  -moz-appearance: none !important;
  margin: 0px 3px !important;
  min-height: 24px !important;
  padding: 0 !important;
  border-radius: 3px!important;    
 
  border-top: 1px solid #161616 !important; 
  border-left: 1px solid #151515 !important; 
  border-right: 1px solid #121212 !important; 
  border-bottom: 1px solid #121212 !important;
  background-image: -moz-linear-gradient(rgb(22,22,22), rgb(22,22,22) 49%, rgb(19,19,19) 50%, rgb(19,19,19)) !important;
  box-shadow: 0 1px rgba(255,255,255, 0.01) inset,
				0 2px rgba(255,255,255, 0.005) inset,
				1px 0 rgba(255,255,255, 0.015) inset,
				-1px 0 rgba(0,0,0, 0.08) inset,
				0 -1px rgba(255,255,255, 0.005) inset,
				0 1px #0d0d0d !important;
	color: #acacac !important;
}

.addon[selected] .addon-control,
.addon[selected]:hover .addon-control {
  -moz-appearance: none !important;
  border-top: 1px solid #2c2c2c !important; 
  border-left: 1px solid #2a2a2a !important; 
  border-right: 1px solid #262626 !important; 
  border-bottom: 1px solid #262626 !important;
  background-image: -moz-linear-gradient(rgb(54,54,54), rgb(54,54,54) 49%, rgb(51,51,51) 50%, rgb(51,51,51)) !important;
  box-shadow: 0 1px rgba(255,255,255, 0.01) inset,
				0 2px rgba(255,255,255, 0.005) inset,
				1px 0 rgba(255,255,255, 0.015) inset,
				-1px 0 rgba(0,0,0, 0.08) inset,
				0 -1px rgba(255,255,255, 0.005) inset,
				0 1px #232323 !important;
	color: #cbcbcb !important;
}

.addon:hover .addon-control {
  -moz-appearance: none !important;
  border-top: 1px solid #212121 !important; 
  border-left: 1px solid #212121 !important; 
  border-right: 1px solid #1f1f1f !important; 
  border-bottom: 1px solid #1f1f1f !important;
  background-image: -moz-linear-gradient(rgb(39,39,39), rgb(39,39,39) 49%, rgb(36,36,36) 50%, rgb(36,36,36)) !important;
  box-shadow: 0 1px rgba(255,255,255, 0.01) inset,
				0 2px rgba(255,255,255, 0.005) inset,
				1px 0 rgba(255,255,255, 0.015) inset,
				-1px 0 rgba(0,0,0, 0.08) inset,
				0 -1px rgba(255,255,255, 0.005) inset,
				0 1px #1a1a1a !important;
	color: #acacac !important;
}

.addon-control:not(:active):hover { 
  background-image: -moz-linear-gradient(rgb(33,33,33), rgb(33,33,33) 49%, rgb(27,27,27) 50%, rgb(27,27,27)) !important;
  border-top: 1px solid #1f1f1f !important; 
  border-left: 1px solid #1d1d1d !important; 
  border-right: 1px solid #191919 !important; 
  border-bottom: 1px solid #181818 !important; 
  box-shadow: 0 1px rgba(255,255,255, 0.01) inset,
				0 2px rgba(255,255,255, 0.005) inset,
				1px 0 rgba(255,255,255, 0.015) inset,
				-1px 0 rgba(0,0,0, 0.04) inset,
				0 -1px rgba(255,255,255, 0.005) inset,
				0 1px #131313 !important; 
	color: #acacac !important;
}

.addon[selected] .addon-control:not(:active):hover { 
  border-top: 1px solid #2a2a2a !important; 
  border-left: 1px solid #282828 !important; 
  border-right: 1px solid #242424 !important; 
  border-bottom: 1px solid #222222 !important;
  background-image: -moz-linear-gradient(rgb(45,45,45), rgb(45,45,45) 49%, rgb(39,39,39) 50%, rgb(39,39,39)) !important;
  box-shadow: 0 1px rgba(255,255,255, 0.01) inset,
				0 2px rgba(255,255,255, 0.005) inset,
				1px 0 rgba(255,255,255, 0.015) inset,
				-1px 0 rgba(0,0,0, 0.04) inset,
				0 -1px rgba(255,255,255, 0.005) inset,
				0 1px #1c1c1c !important;
	color: #cbcbcb !important;			
}

.addon-control:not(:active):focus,
.addon-control:not(:active):focus:hover,
.addon[selected] .addon-control:not(:active):focus,
.addon[selected]:hover .addon-control:not(:active):focus,
.addon[selected]:hover .addon-control:not(:active):focus:hover,
.addon-control:focus,
.addon-control:focus:hover,
.addon[selected] .addon-control:focus,
.addon[selected]:hover .addon-control:focus,
.addon[selected]:hover .addon-control:focus:hover {
  border: 1px dotted #4d4d4d !important; 
    color: #f2f2f2 !important;
    border-radius: 2px !important;
  text-shadow: 0 1px 2px rgba(0,0,0, 0.26)!important;
  transition: color .2s ease-in !important;
}
/**********************Message Body and Text **************************/
/** This makes basic HTML mails which are just text appear in white on black, but more complex mails tend to use tables or other layout features with their own custom colours which are preserved. **/
body {color: #dbdbdb; background-color: #232323}
:link {color: #0094eb!important;}

td {color: black; background-color: white}
:link {color: #0000c8}

@-moz-document url-prefix(mailbox:) {
  /* all the other rules go here */
  }


/************* Thunderbird Start Page Linux English *******************/
/**for other languages(and new releases) you must locate the URL for the thunderbird start page and enter it in both locations below **/
/*@-moz-document url(https://www.mozilla.org/en-US/thunderbird/release/start/?uri=/thunderbird/start&locale=en-US&version=15.0.1&os=Linux&buildid=20120910110134) {
body {
 border-top: 2px solid !important;
 -moz-border-top-colors: rgba(0,0,0,.65) rgba(255,255,255,0.16) !important;
}}

@-moz-document url(https://www.mozilla.org/en-US/thunderbird/release/start/?uri=/thunderbird/start&locale=en-US&version=15.0.1&os=Linux&buildid=20120910110134) {
* {
  color: #dbdbdb !important;
  text-shadow: 0px -1px 0px rgba(0,0,0,.4);
  -moz-appearance: none!important;
  background: url("images/WindowBg-dark.png") repeat!important;

}}*/




