style "pluma-frame"
{	
	engine "pixmap"
	{
 		image
		{
			function = SHADOW
		}
	}
}

style "thin"
{ 
	xthickness = 0 
	ythickness = 0 
}

widget_class "*Pluma*.<GtkFrame>*"     			style "pluma-frame"
widget_class "*Pluma*.<GtkScrolledWindow>"     		style "thin"
widget_class "*Pluma*.<GtkArrow>*"     			style:highest "default"

style "pluma-notebook" 
{
	base[ACTIVE] 	= shade (0.94, @selected_bg_color)
}

widget_class "*PlumaNotebook"				style "pluma-notebook"
widget_class "*PlumaNotebook*Tab*"			style "pluma-notebook"

style "pluma" 
{
	GtkComboBox::appears-as-list = 0
}

widget_class "*Pluma*"     			style "pluma"
