# ==============================================================================
# CAJA SPECIFIC SETTINGS
# ==============================================================================

gtk_color_scheme = "fg_color:#000000\nbg_color:#f6f4f2\ndark_bg_color:#dfd7cf"

style "caja_info_pane" {
	bg[NORMAL] = @bg_color
}

widget_class "*Caja*<GtkNotebook>*<GtkEventBox>" style "caja_info_pane"
widget_class "*Caja*<GtkButton>" style "notebook_button"
widget_class "*Caja*<GtkButton>*<GtkLabel>" style "notebook_button"

style "caja-sidebar"
{

	text[NORMAL] = @fg_color
	base[NORMAL] = @dark_bg_color
	font_name = "Regular"

	GtkTreeView::odd_row_color = @dark_bg_color
	GtkTreeView::even_row_color = @dark_bg_color

      # padding from the left edge
	GtkTreeView::horizontal_separator = 15
      	xthickness = 0
	ythickness = 0
}

widget_class	"*Caja*Places*Sidebar*"	style "caja-sidebar"

style "caja-view"
{
	xthickness		= 0
	ythickness		= 0
	bg[NORMAL]	= @bg_color
	base[NORMAL]	= @bg_color

}

widget_class	"*Caja*View*"		style "caja-view"

style "caja_location"
{
	bg[NORMAL]  = mix (0.60, shade (1.05, @dark_bg_color), @dark_bg_color)
}

# Special case the caja-extra-view-widget
# ToDo: A more generic approach for all applications that have a widget like this.
widget "*.caja-extra-view-widget" style : highest "caja_location"
