/*************************************************/
/* gnome-applications-gray-light.css gnome-shell */
/*************************************************/

@define-color nautilus_cluebar_color shade (@theme_bg_color, 1.03);

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    background-color: @chrome_bg_color;
    -EogScrollView-shadow-type: none;
}

/* nautilus */
.nautilus-canvas-item {
    border-radius: 5px;
}

.nautilus-desktop.nautilus-canvas-item {
    color: @theme_bg_color;
    text-shadow: 1 1 black;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusWindow .notebook {
	border-width: 1px 0px 0px 0px;
}

NautilusWindow .notebook tab {
	border-width: 0px 1px 1px 1px;
}

NautilusWindow .notebook tab:active {
	border-width: 1px;
	-unico-border-gradient: none;
	border-top-color: 		shade(#ebf1fb, 1.00);
	border-left-color: 		shade(#638ec2, 1.05);
	border-right-color: 	shade(#638ec2, 1.05);
	border-bottom-color: 	shade(@button_border, 0.70);
}

NautilusWindow .notebook tab:first-child:active {
	border-width: 1px 1px 1px 0px;
}

NautilusWindow .primary-toolbar.toolbar {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@bg_color, 0.935)),
			 		 color-stop (0.08, shade (@bg_color, 0.955) ),
			 		 color-stop (0.08, shade (@bg_color, 0.97) ),
			         to (shade (@base_color, 1.00)));

    border-width: 1px 0px 1px 0px;
    border-radius: 0px;
    border-style: solid;
    border-color: shade(@bg_color, 0.87) @transparent shade(@bg_color, 0.80) @transparent;

	padding: 0px 2px; 
	
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;
    color: @text_color;
}

NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button {
	color: shade(@theme_fg_color, 1.00);
    text-shadow: 1 1 alpha(#fff, 0.25);
	padding: 0px 6px;

    border-style: solid;
	border-width: 1px;
    border-radius: 9px;
	border-color: @transparent;

	-unico-inner-stroke-gradient: none;
    -unico-inner-stroke-width: 2px 1px 1px 1px;
	-unico-inner-stroke-color: @transparent;

	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 8px 0px 8px 0px;	
	-unico-outer-stroke-color: @transparent;
}

#nautilus-search-button *:prelight,
NautilusWindow .primary-toolbar .toolbar .button *:hover,
NautilusWindow .primary-toolbar.toolbar .button *:hover {
    color: @theme_text_color;
    text-shadow: none; 

}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight,
NautilusWindow .primary-toolbar .toolbar .button *:active,
NautilusWindow .primary-toolbar.toolbar .button *:active,
NautilusWindow .primary-toolbar .toolbar .button *:hover:active,
NautilusWindow .primary-toolbar.toolbar .button *:hover:active {
	/* Rebajar un poco la sombra del texto	*/
    color: shade(@theme_selected_fg_color, 0.98);
    text-shadow: 0 1 alpha(#000, 0.25); 
}

#nautilus-search-button .button:active,
#nautilus-search-button .button:active:prelight,
NautilusWindow .primary-toolbar .toolbar .button:active,
NautilusWindow .primary-toolbar.toolbar .button:active, 
NautilusWindow .primary-toolbar .toolbar .button:hover:active,
NautilusWindow .primary-toolbar.toolbar .button:hover:active {  
    border-width: 1px;
    border-style: solid;  
	border-radius: 9px;
	
	-unico-inner-stroke-width: 2px 1px 1px 1px;
	-unico-inner-stroke-gradient: -gtk-gradient (linear,
												 left top, left bottom,
										         from (alpha (#000, 0.10)),
										 		 color-stop (0.10, alpha (#000, 0.00) ),
										 		 color-stop (0.10, alpha (#000, 0.05) ),
										         to (alpha (#000, 0.00)));

	-unico-border-gradient: -gtk-gradient (linear,
											 left top, left bottom,
								             from (alpha (#000, 0.57)),
									 		 color-stop (0.10, alpha (#000, 0.55) ),
								             to (alpha (#000, 0.50)));

	background-image: -gtk-gradient (radial,
										0.5 0.5, 0.3,
										0.6 0.8, 1,
										from (alpha (shade (@theme_bg_color, 0.60), 1.0)),
										to   (alpha (shade (@theme_bg_color, 0.40), 1.0)));
    
}

#nautilus-search-button .button:prelight,
NautilusWindow .primary-toolbar .toolbar .button:hover,
NautilusWindow .primary-toolbar.toolbar .button:hover {
    /* -unico-inner-stroke-gradient: none;
	-unico-inner-stroke-color: @transparent;
	-unico-inner-stroke-width: 2px 1px 1px 1px; */
    border-width: 1px;
    border-style: solid;  
	border-radius: 9px;
    -unico-border-gradient: -gtk-gradient (linear,
				             left top, left bottom,
				             from (shade (@theme_bg_color, 0.85)),
				             to   (shade (@theme_bg_color, 0.80)));

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (alpha (shade (@theme_bg_color, 0.75), 0.05)),
				     to   (alpha (shade (@theme_bg_color, 0.50), 0.15)));
}

NautilusWindow .menubar {
    /* linea 3D  (oscura) */
	-unico-inner-stroke-color: shade (@theme_bg_color, 0.55);

    /* linea 3D (clara)  */
    border-color: shade (@theme_bg_color, 0.87);

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@theme_bg_color, 0.81)),
                                     to (shade (@theme_bg_color, 0.72)));

	text-shadow: 0 1 alpha(@theme_base_color, 0.35);
}

#nautilus-search-button * {
	-unico-border-gradient: none;    
    border-image: none;
    border-style: solid;
	border-width: 1px;
	border-color: @transparent;

    border-radius: 9px;
    box-shadow: none;
    -unico-inner-stroke-width: 2px 1px 1px 1px;
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-color: @transparent;

	-unico-outer-stroke-width: 8px 4px 8px 4px;
	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-color: @transparent;

    background-image: none;

    padding: 0px 6px;
}

/*
#nautilus-search-button *:prelight,
#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight {
    color: shade(@nautilus_cluebar_color, 0.50);
}
*/

NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@notebook_tab_gradient_a, 0.97)),
                                     to (shade (@notebook_tab_gradient_b, 0.90)));

    border-color: shade (@notebook_tab_gradient_b, 0.80);

    border-radius: 3px 3px 0px 0px;
    border-width: 1px;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-color: alpha (@theme_base_color, 0.0);
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .sidebar,
NautilusWindow .sidebar.view, 
NautilusWindow .sidebar .view,
NautilusWindow .sidebar .view:prelight  {
    background-color: shade (@theme_bg_color, 0.94);
    color: shade (@text_color, 0.50);
    text-shadow: 0 1 shade (@theme_bg_color, 0.77); 
}

NautilusWindow .sidebar .scrollbar {
	-GtkRange-trough-border: 1;
    -GtkRange-slider-width:  6;
}

NautilusWindow .sidebar .scrollbar.trough,
NautilusWindow .sidebar .scrollbar.trough.vertical {
    background-image: none;
    background-color: shade (@theme_bg_color, 0.72);
	-unico-inner-stroke-width: 0px;
}

/* overlay scrollbar */
NautilusWindow .sidebar OsThumb:selected,
NautilusWindow .sidebar OsScrollbar:selected {
    background-color:	shade (@theme_bg_color, 0.60);
}

NautilusWindow .sidebar OsThumb:active,
NautilusWindow .sidebar OsScrollbar:active {
    background-color: shade (@theme_bg_color, 0.54);
}

NautilusWindow .sidebar OsThumb:insensitive,
NautilusWindow .sidebar OsScrollbar:insensitive {
    background-color: shade (@theme_bg_color, 0.68);
}

NautilusWindow .sidebar .frame {
    border-width: 0px;
    border-style: solid;
	border-color: shade (@theme_bg_color, 0.87);
}

NautilusWindow > GtkTable > .pane-separator,
NautilusWindow .pane-separator {
	/* ubuntu-12 */
    background-color: shade (@theme_bg_color, 0.72);
    border-color: shade (@button_border, 0.75);
    border-style: solid;
    border-width: 0px;
    background-image: -gtk-gradient(linear,
                                    left top, right top,
                                    from(shade (@theme_bg_color, 0.72)),
                                    color-stop(0.65, shade (@theme_bg_color, 0.72)),
                                    to(shade (@button_border, 0.70)));

    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0px;
}

NautilusWindow > GtkTable > .pane-separator:hover {
    background-color: shade (@theme_bg_color, 0.72);
}

@import url("cluebar.css");

