/***************
 * Resize grip *
 ***************/

.grip {
    background-color: transparent;
    background-image: url("assets/resize-grip.svg");
}

/*******************
 * Pane separators *
 *******************/
.pane-separator {
    background-image: url("assets/pane-separator-grip-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.pane-separator:hover {
    background-image: url("assets/pane-separator-grip-prelight-dark.svg");
}

.pane-separator.vertical {
    background-image: url("assets/pane-separator-grip-vertical-dark.svg");
}

.pane-separator.vertical:hover {
    background-image: url("assets/pane-separator-grip-vertical-prelight-dark.svg");
}

/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */
.check,
.view.cell.check {
    -gtk-icon-source: url("assets/check-radio/check-unchecked.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.view.cell.check:active,
.cell.check:active {
    -gtk-icon-source: url("assets/check-radio/check-unchecked-selected.svg");
    background-color: transparent;
}

.view.cell.check:active:backdrop,
.cell.check:active:backdrop {
    -gtk-icon-source: url("assets/check-radio/check-unchecked-selected-backdrop.svg");
    background-color: transparent;
}

.check:insensitive {
    -gtk-icon-source: url("assets/check-radio/check-insensitive.svg");
}

.check row:insensitive {
    background-color: transparent;
}

.check:backdrop,
.view.cell.check:backdrop,
.check row:selected:backdrop {
    -gtk-icon-source: url("assets/check-radio/check-unchecked-backdrop.svg");
}

.check:insensitive:backdrop,
.check row:selected:insensitive:backdrop {
    -gtk-icon-source: url("assets/check-radio/check-insensitive-backdrop.svg");
}

.check:checked,
.view.cell.check:checked {
     -gtk-icon-source: url("assets/check-radio/check-active.svg");
}

.check.cell:active:checked,
.check.cell:active:checked:focus,
.check row:active:checked,
.check row:active:checked:focus {
	-gtk-icon-source: url("assets/check-radio/check-active-selected.svg");
	background-color: transparent;
} 

.check.cell:active:backdrop,
.check.cell:active:checked:focus:backdrop,
.check row:active:checked:backdrop,
.check row:active:checked:focus:backdrop {
	-gtk-icon-source: url("assets/check-radio/check-active-selected-backdrop.svg");
	background-color: transparent;
} 

.check:checked:insensitive {
    -gtk-icon-source: url("assets/check-radio/check-active-insensitive.svg");
}

.check:checked:backdrop,
.view.cell:checked:backdrop,
.check row:active:checked:backdrop {
    -gtk-icon-source: url("assets/check-radio/check-active-backdrop.svg");
}

.check:checked:insensitive:backdrop,
.check row:selected:checked:insensitive:backdrop {
    -gtk-icon-source: url("assets/check-radio/check-active-insensitive-backdrop.svg");
}

.check:inconsistent {
    -gtk-icon-source: url("assets/check-radio/check-mixed.svg");
}

.check.cell:selected:active:inconsistent,
.check row:selected:active:inconsistent {
	-gtk-icon-source: url("assets/check-radio/check-mixed-selected.svg");
	background-color: transparent;
}

.check.cell:selected:active:inconsistent:backdrop,
.check row:selected:active:inconsistent:backdrop {
	-gtk-icon-source: url("assets/check-radio/check-mixed-selected-backdrop.svg");
	background-color: transparent;
}

.check:inconsistent:insensitive {
    -gtk-icon-source: url("assets/check-radio/check-mixed-insensitive.svg");
}

.check:inconsistent:backdrop,
.check row:selected:inconsistent:backdrop {
    -gtk-icon-source: url("assets/check-radio/check-mixed-backdrop.svg");
}

.check:inconsistent:insensitive:backdrop,
.check row:selected:inconsistent:insensitive:backdrop {
    -gtk-icon-source: url("assets/check-radio/check-mixed-insensitive-backdrop.svg");
}

.radio,
.view.cell.radio {
    -gtk-icon-source: url("assets/check-radio/radio-un.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.view.cell.radio:active,
.cell.radio:active {
    -gtk-icon-source: url("assets/check-radio/radio-un-selected.svg");
    background-color: transparent;
}

.view.cell.radio:active:backdrop,
.cell.radio:active:backdrop {
    -gtk-icon-source: url("assets/check-radio/radio-un-selected-backdrop.svg");
    background-color: transparent;
}

.radio:insensitive {
    -gtk-icon-source: url("assets/check-radio/radio-insensitive.svg");
}

.radio row:insensitive {
    background-color: transparent;
}

.radio:backdrop,
.view.cell.radio:backdrop,
.radio row:active:backdrop {
    -gtk-icon-source: url("assets/check-radio/radio-un-backdrop.svg");
}

.radio:insensitive:backdrop,
.radio row:active:insensitive:backdrop {
    -gtk-icon-source: url("assets/check-radio/radio-insensitive-backdrop.svg");
}

.radio:checked,
.view.cell.radio:checked {
    -gtk-icon-source: url("assets/check-radio/radio-active.svg");
}

.radio.cell:active:checked,
.radio.cell:active:checked:focus,
.radio row:active:checked,
.radio row:active:checked:focus {
	-gtk-icon-source: url("assets/check-radio/radio-active-selected.svg");
	background-color: transparent;
} 

.radio.cell:active:checked:backdrop,
.radio.cell:active:checked:focus:backdrop,
.radio row:active:checked:backdrop,
.radio row:active:checked:focus:backdrop {
	-gtk-icon-source: url("assets/check-radio/radio-active-selected-backdrop.svg");
	background-color: transparent;
}

.radio:checked:insensitive {
    -gtk-icon-source: url("assets/check-radio/radio-active-insensitive.svg");
}

.radio:checked:backdrop,
.view.cell.radio:checked:backdrop,
.radio row:selected:checked:backdrop {
    -gtk-icon-source: url("assets/check-radio/radio-active-backdrop.svg");
}

.radio:checked:insensitive:backdrop,
.radio row:selected:checked:insensitive:backdrop {
    -gtk-icon-source: url("assets/check-radio/radio-active-insensitive-backdrop.svg");
}

.radio:inconsistent {
    -gtk-icon-source: url("assets/check-radio/radio-mixed.svg");
}

.radio.cell:active:inconsistent,
.radio row:active:inconsistent {
	-gtk-icon-source: url("assets/check-radio/radio-mixed-selected.svg");
	background-color: transparent;
}

.radio.cell:active:inconsistent:backdrop,
.radio row:active:inconsistent:backdrop {
	-gtk-icon-source: url("assets/check-radio/radio-mixed-selected-backdrop.svg");
	background-color: transparent;
}

.radio:inconsistent:insensitive {
    -gtk-icon-source: url("assets/check-radio/radio-mixed-insensitive.svg");
}

.radio:inconsistent:backdrop,
.radio row:active:inconsistent:backdrop {
    -gtk-icon-source: url("assets/check-radio/radio-mixed-backdrop.svg");
}

.radio:inconsistent:insensitive:backdrop,
.radio row:active:inconsistent:insensitive:backdrop {
    -gtk-icon-source: url("assets/check-radio/radio-mixed-insensitive-backdrop.svg");
}


.sidebar .view.radio:checked,
.sidebar .view.radio:checked:focus,
.sidebar .view.radio:checked:hover {
    -gtk-icon-source: url("assets/sidebar-radio-checked.svg");
}

.sidebar .view.radio:hover {
    -gtk-icon-source: url("assets/sidebar-radio-prelight.svg");
}

.sidebar .view.radio:checked:active,
.sidebar .view.radio:checked:active:focus {
    -gtk-icon-source: url("assets/sidebar-radio-selected.svg");
}

.sidebar .view.radio:active:hover,
.sidebar .view.radio:active:focus {
    -gtk-icon-source: url("assets/sidebar-radio-selected-prelight.svg");
}

/*********************
 * GtkScale's slider *
 *********************/
.scale.slider,
.scale.slider.horizontal {
    background-image: url("assets/scale-slider.svg");
}

.scale.slider:hover,
.scale.slider.horizontal:hover {
    background-image: url("assets/scale-slider-hover.svg");
}

.scale.slider:active,
.scale.slider:active:hover,
.scale.slider.horizontal:active,
.scale.slider.horizontal:active:hover {
   background-image: url("assets/scale-slider-active.svg");
}

.scale.slider:backdrop,
.scale.slider:backdrop:hover,
.scale.slider.horizontal:backdrop,
.scale.slider.horizontal:backdrop:hover {
    background-image: url("assets/scale-slider.svg");
}

.scale.slider:insensitive,
.scale.slider:insensitive:hover,
.scale.slider.horizontal:insensitive,
.scale.slider.horizontal:insensitive:hover {
    background-image: url("assets/scale-slider-insensitive.svg");
}

.scale.slider:insensitive:backdrop,
.scale.slider:insensitive:backdrop:hover,
.scale.slider.horizontal:insensitive:backdrop,
.scale.slider.horizontal:insensitive:backdrop:hover {
    background-image: url("assets/scale-slider-insensitive.svg");
}

.scale.slider.vertical {
    background-image: url("assets/scale-slider.svg");
}

.scale.slider.vertical:hover {
    background-image: url("assets/scale-slider-hover.svg");
}

.scale.slider.vertical:active,
.scale.slider.vertical:active:hover {
    background-image: url("assets/scale-slider-active.svg");
}

.scale.slider.vertical:backdrop,
.scale.slider.vertical:backdrop:hover {
    background-image: url("assets/scale-slider.svg");
}

.scale.slider.vertical:insensitive,
.scale.slider.vertical:insensitive:hover {
    background-image: url("assets/scale-slider-insensitive.svg");
}

.scale.slider.vertical:insensitive:backdrop,
.scale.slider.vertical:insensitive:backdrop:hover {
    background-image: url("assets/scale-slider-insensitive.svg");
}

.scale.scale-has-marks-above.slider.horizontal {
    background-image: -gtk-scaled(url("assets/scale-slider-up-dark.png"),url("assets/scale-slider-up-dark@2.png"));
}

.scale.scale-has-marks-above.slider.horizontal:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-up-hover-dark.png"),url("assets/scale-slider-up-hover-dark@2.png"));
}

.scale.scale-has-marks-above.slider.horizontal:active,
.scale.scale-has-marks-above.slider.horizontal:active:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-up-active-dark.png"),url("assets/scale-slider-up-active-dark@2.png"));
}

.scale.scale-has-marks-above.slider.horizontal:insensitive,
.scale.scale-has-marks-above.slider.horizontal:insensitive:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-up-insensitive-dark.png"),url("assets/scale-slider-up-insensitive-dark@2.png"));
}

.scale.scale-has-marks-above.slider.horizontal:backdrop,
.scale.scale-has-marks-above.slider.horizontal:backdrop:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-up-backdrop-dark.png"),url("assets/scale-slider-up-backdrop-dark@2.png"));
}

.scale.scale-has-marks-above.slider.horizontal:backdrop:insensitive,
.scale.scale-has-marks-above.slider.horizontal:backdrop:insensitive:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-up-backdrop-insensitive-dark.png"),url("assets/scale-slider-up-backdrop-insensitive-dark@2.png"));
}

.scale.scale-has-marks-above.slider.vertical {
    background-image: -gtk-scaled(url("assets/scale-slider-left-dark.png"),url("assets/scale-slider-left-dark@2.png"));
}

.scale.scale-has-marks-above.slider.vertical:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-left-hover-dark.png"),url("assets/scale-slider-left-hover-dark@2.png"));
}

.scale.scale-has-marks-above.slider.vertical:active,
.scale.scale-has-marks-above.slider.vertical:active:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-left-active-dark.png"),url("assets/scale-slider-left-active-dark@2.png"));
}

.scale.scale-has-marks-above.slider.vertical:insensitive,
.scale.scale-has-marks-above.slider.vertical:insensitive:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-left-insensitive-dark.png"),url("assets/scale-slider-left-insensitive-dark@2.png"));
}

.scale.scale-has-marks-above.slider.vertical:backdrop,
.scale.scale-has-marks-above.slider.vertical:backdrop:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-left-backdrop-dark.png"),url("assets/scale-slider-left-backdrop-dark@2.png"));
}

.scale.scale-has-marks-above.slider.vertical:backdrop:insensitive,
.scale.scale-has-marks-above.slider.vertical:backdrop:insensitive:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-left-backdrop-insensitive-dark.png"),url("assets/scale-slider-left-backdrop-insensitive-dark@2.png"));
}

.scale.scale-has-marks-below.slider.horizontal {
    background-image: -gtk-scaled(url("assets/scale-slider-down-dark.png"),url("assets/scale-slider-down-dark@2.png"));
}

.scale.scale-has-marks-below.slider.horizontal:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-down-hover-dark.png"),url("assets/scale-slider-down-hover-dark@2.png"));
}

.scale.scale-has-marks-below.slider.horizontal:active,
.scale.scale-has-marks-below.slider.horizontal:active:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-down-active-dark.png"),url("assets/scale-slider-down-active-dark@2.png"));
}

.scale.scale-has-marks-below.slider.horizontal:insensitive,
.scale.scale-has-marks-below.slider.horizontal:insensitive:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-down-insensitive-dark.png"),url("assets/scale-slider-down-insensitive-dark@2.png"));
}

.scale.scale-has-marks-below.slider.horizontal:backdrop,
.scale.scale-has-marks-below.slider.horizontal:backdrop:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-down-backdrop-dark.png"),url("assets/scale-slider-down-backdrop-dark@2.png"));
}

.scale.scale-has-marks-below.slider.horizontal:backdrop:insensitive,
.scale.scale-has-marks-below.slider.horizontal:backdrop:insensitive:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-down-backdrop-insensitive-dark.png"),url("assets/scale-slider-down-backdrop-insensitive-dark@2.png"));
}

.scale.scale-has-marks-below.slider.vertical {
    background-image: -gtk-scaled(url("assets/scale-slider-right-dark.png"),url("assets/scale-slider-right-dark@2.png"));
}

.scale.scale-has-marks-below.slider.vertical:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-right-hover-dark.png"),url("assets/scale-slider-right-hover-dark@2.png"));
}

.scale.scale-has-marks-below.slider.vertical:active,
.scale.scale-has-marks-below.slider.vertical:active:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-right-active-dark.png"),url("assets/scale-slider-right-active-dark@2.png"));
}

.scale.scale-has-marks-below.slider.vertical:insensitive,
.scale.scale-has-marks-below.slider.vertical:insensitive:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-right-insensitive-dark.png"),url("assets/scale-slider-right-insensitive-dark@2.png"));
}

.scale.scale-has-marks-below.slider.vertical:backdrop,
.scale.scale-has-marks-below.slider.vertical:backdrop:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-right-backdrop-dark.png"),url("assets/scale-slider-right-backdrop-dark@2.png"));
}

.scale.scale-has-marks-below.slider.vertical:backdrop:insensitive,
.scale.scale-has-marks-below.slider.vertical:backdrop:insensitive:hover {
    background-image: -gtk-scaled(url("assets/scale-slider-right-backdrop-insensitive-dark.png"),url("assets/scale-slider-right-backdrop-insensitive-dark@2.png"));
}

/********************************
 * Touch text selection handles *
 ********************************/
.cursor-handle.bottom {
    background-image: -gtk-scaled(url("assets/scale-slider-up-backdrop.png"),url("assets/scale-slider-up-backdrop@2.png"));
}

.cursor-handle.top {
    background-image: -gtk-scaled(url("assets/scale-slider-down-backdrop.png"),url("assets/scale-slider-down-backdrop@2.png"));
}

/****************
 * Content view *
 ****************/
.content-view.view {
    background-image: url("assets/Toolbar-op80.png");
}
