
UnityPanelWidget,
.unity-panel {
	 background-image: linear-gradient(to bottom,
                                      alpha(white, 0.04),
                                      alpha(white, 0.0) 44%,
                                      alpha(black, 0.0) 45%,
                                      alpha(black, 0.14)
                                      );
    background-color: shade(#282828, 0.76);
	box-shadow: 0 1px alpha(black, 0.2) inset,
				0 2px alpha(black, 0.08) inset,
				0 3px alpha(black, 0.04) inset,
				0 4px alpha(black, 0.02) inset,

				1px 0 alpha(black, 0.1) inset,
				-1px 0 alpha(black, 0.1) inset,

				2px 0 alpha(black, 0.04) inset,
				-2px 0 alpha(black, 0.02) inset;
	border-style: none;			
}

.unity-panel.menubar,
.unity-panel .menubar {
	color: @theme_text_color;
    text-shadow: 0 -1px alpha(black, 0.16);
}

.unity-panel.menuitem,
.unity-panel .menuitem {
	color: @theme_text_color;
	icon-shadow: 0 -1px alpha(black, 0.16);
}	
	
.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
	padding: 3px 8px;
	
    background-image: none;
    background-color: @menu_bg_color;
	border-color: shade(@menu_bg_color, 0.8);
    border-radius: 4px 4px 0 0;
    border-width: 1px 1px 0 1px;
    
    color: shade(@menu_fg_color, 0.88); 
    text-shadow: 0 -1px alpha(black, 0.016);
}
